.Header {
  font-size: 16px;
  /* background-image: linear-gradient(to top right, #FFED8C 0%, #FFED8C 49%, #336CFF 50%, #336CFF 50%); */
  background-color: #fff;
}

.Header-wrapper {
  display: flex;
  justify-content: space-between;

  margin: auto;
  padding: 25px 100px;
}

.Header-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.Header-link__blue {
  color: #336cff;
}

.Header-link__gold {
  color: #ffb341;
}

.Header-logo {
  color: #336cff;
}
